{% extends 'header.html' %}

{% block title %}
Orders -Swiggy
{% endblock %}

{% block content %}
<div class="container-fluid text-light  bg-dark p-5">
    {% if orders %}
    {% for order in orders %}
    <div class="row p-4">
        <div class="row">
            <span class="p-1" style=" font-size:15px;">{{order.item.name}}</span>
            <span class="p-1" style=" font-size:10px;">Order #{{ order.id }}</span>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 d-flex align-items-end">
            <img src="{{order.item.img.url}}" class="img-fluid mr-auto" alt="Image description">
            <p class="p-2"> {{order.item.description}}</p>
        </div>
        <div class="col-4 col-md-4 d-flex flex-column align-items-end">
            <p> <span style="font-size:36px;">&euro;{{order.selling_price }}</span></p>
            {% if request.user.profile.is_customer %}
            <p> <span style=" font-size:14px;">Order {{order.status }}</span></p>
            {% else %}
            <form method="post" action="{% url 'orders:change_status' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="staus_id">Status:</label>
                    <select id="staus_id" name="status">
                        {% if order.status == 'PENDING' %}
                        <option value="PENDING" selected>Pending</option>
                        {% else %}<option value="PENDING" selected>Pending</option>{%endif%}
                        {% if order.status == 'IN_PROGRESS' %} <option value="IN_PROGRESS" selected>Processing</option>
                        {% else %}<option value="IN_PROGRESS">Processing</option>{%endif%}
                        {% if order.status == 'DELIVERED' %} <option value="DELIVERED" selected>Delivered</option>
                        {% else %}<option value="DELIVERED">Delivered</option>{%endif%}
                    </select>
                    <input type="hidden" name="order_id" value="{{order.id}}" />
                    <button type="submit" >
                        <i class="fa fa-check" style="font-size:20px; color:rgb(2, 2, 2)"></i>
                    </button>
                </div>
            </form>
            {% endif %}
            <p> <span style=" font-size:10px;">Order placed on {{order.order_placed_at }}</span></p>
        </div>

    </div>
    {% endfor %}
    {% else %}
    <p>There are no orders so far.</p>
    {% endif %}
</div>
{% endblock %}