{% extends "header.html" %}
{% block title %}
Menu items
{% endblock %}

{% block content %}
<section class="bg-dark text-light p-5">
    <div class="container-fluid">
        
        <h3 class="card-title">{{ item.name }}</h3>
    
    <div class="card bg-dark text-light" style="width: 15rem;">
        <img src="{{item.img.url}}" class="card-img-top" style="height:12vw; object-fit:cover;" alt="No image"/>
        <div class="card-body">
            
            <p class="card-text">{{item.description}}</p>
            <h4>&euro;{{item.price}}</h4>
            <h3>{{item.ratings}}</h3>
            <h3>&euro;{{item.discount}}%</h3>
            <h3>Amount payable =&euro;{{item.get_selling_price}}%</h3>
            {% if request.user.profile.is_customer %}
            {% if not is_buy %}
            <a href="buyitem/{{ item.id }}/" class="btn btn-info" role="button">Buy</a>
            {% else %}
            <form method="post" >
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.daddress.errors }}
                    <label for="{{ form.daddress.id_for_label }}">Delivery Address</label>
                    {{ form.daddress }}
                </div>
                <div class="form-group">
                    {{ form.phone.errors }}
                    <label for="{{ form.phone.id_for_label }}">Mobile</label>
                    {{ form.phone}}
                </div>
                <input type="hidden" id="item_id" name="item_id" value="{{item.id}}">
                <button type="submit" class="btn btn-primary">Place Order</button>
              </form>
            {% endif %}
            {% else %}
            <a href="#link" class="btn btn-info" role="button">Edit item</a>
            {% endif %}
            
        </div>
    </div>
</div>
</section>
{% endblock %}